{% extends "basic.html" %}
{% block body %}
    <form enctype="multipart/form-data" class="p-1 form-group"  method="post" >
        <label for="bookName">Book name:</label>
        <input class="form-control" type="text" name="bookName" id="bookName" required >
        <br>
        <select name="authorName" id="authorName" class="form-select" aria-label="Default select example">
          <option selected disabled>Choose the author</option>
            {% for author in authors %}
                <option value="{{author[0]}}">{{author[1]}}</option>
            {% endfor  %}
        </select>
        <br>
            <label class="form-label" for="customFile">Image</label>
            <input name="CoverImage" type="file" class="form-control" id="customFile" />
        <br>
        <!-- TODO: Make the auto check by name !-->
        <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="lang" id="langFa" value="Fa">
            <label class="form-check-label" for="langFa">Persian</label>
        </div>
        <div class="form-check-inline">
            <input class="form-check-input"  type="radio" id="langEn" name="lang" value="En">
            <label class="form-check-label" for="langEn">English</label>
            <br>
        </div>
        <br>
        <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="isTranslated" id="isTranslated1" value="0">
            <label class="form-check-label" for="isTranslated1">Not translated</label>
        </div>
        <div class="form-check-inline">
            <input class="form-check-input" type="radio" id="isTranslated2" name="isTranslated" value="1">
            <label class="form-check-label" for="isTranslated2">Translated</label>
        </div>
        <br>

        <label for="pages">Pages:</label>
        <input class="form-control" type="number" id="pages" name="pages" min="0">
        <br>
        <label for="pagesRead">Pages read:</label>
        <input class="form-control" type="number" id="pagesRead" name="pagesRead" >
        <br>
        <label for="rate">rate:</label>
        <input class="form-control" type="number" min="1" max="10" step="1" id="rate" name="rate" >
        <br>
        <label for="fullReview">Your full review:</label>
        <textarea class="form-control"  name="fullReview" id="fullReview"></textarea>
        <br>
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    {% if status == "true" %}
    <div class="toast fade show m-1" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Book Tracker</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Book added
      </div>
    </div>
    {%endif%}

{% endblock %}