{% extends "basic.html" %}
    {% block title %}Edit your Book{% endblock %}
{% block body %}
    <form enctype="multipart/form-data" class="p-1 form-group"  method="post" >
        <label for="bookName">Book name:</label>
        <input class="form-control" type="text" name="bookName" id="bookName" required value="{{book[0]}}">
        <br>
        <!-- TODO: Make the author reserve by name !-->
        <label for="authorName">Author id:</label>
        <input class="form-control" type="number" min="0" name="authorName" id="authorName" required value="{{book[1]}}">
        <br>
            <input class="form-file-input" type="file" id="coverImage" name="CoverImage" value="{{book[2]}}" >
            <label class="form-file-label" for="coverImage">Select book cover</label>
        <br>
        <!-- TODO: Make the auto check by name !-->
        <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="lang" id="langFa" value="Fa">
            <label class="form-check-label" for="langFa">Persian</label>
        </div>
        <div class="form-check-inline">
            <input class="form-check-input"  type="radio" id="langEn" name="lang" value="En">
            <label class="form-check-label" for="langEn">English</label>
            <br>
        </div>
        <br>
        <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="isTranslated" id="isTranslated1" value="0">
            <label class="form-check-label" for="isTranslated1">Not translated</label>
        </div>
        <div class="form-check-inline">
            <input class="form-check-input" type="radio" id="isTranslated2" name="isTranslated" value="1">
            <label class="form-check-label" for="isTranslated2">Translated</label>
        </div>
        <br>

        <label for="pages">Pages:</label>
        <input class="form-control" type="number" id="pages" name="pages" min="0" value="{{book[5]}}">
        <br>
        <label for="pagesRead">Pages read:</label>
        <input class="form-control" type="number" id="pagesRead" name="pagesRead" value="{{book[6]}}">
        <br>
        <label for="rate">rate:</label>
        <input class="form-control" type="number" min="1" max="10" step="1" id="rate" name="rate" value="{{book[7]}}">
        <br>
        <label for="fullReview">Your full review:</label>
        <textarea class="form-control"  name="fullReview" id="fullReview">{{book[8]}}</textarea>
        <br>
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>

{% endblock %}