{% extends "basic.html"%}
    {% block title %}Welcome to Book tracker{% endblock %}
    {% block styles %}
    <link rel="stylesheet" href="{{url_for('static',filename = 'main_page.css')}}">
    {% endblock %}
{% block body %}
    {% for book in books %}
    <div class="container-fluid">
        <div class="row ms-auto p-1">
            <div class="col-2">
                <img id="bookCover" src="{{url_for('static',filename = 'media/book_cover/')}}{{book[2]}}" width="100%" height="100%">
            </div>
            <div class="col-10">
                <a href="{{ url_for('view_book',book_id=book[9])}}">{{book[0]}}</a>
                <br>
                <small><a style="color: darkgray" href="{{ url_for('view_author',author_id=book[10])}}">{{book[1]}}</a></small>
                <br>
                <span>Rate: {{book[7]}}/10</span>
                <br>
                <span>Pages : {{book[5]}} </span><br>
                <span>Pages Read: {{book[6]}} </span>
                <p>
                    {{book[8]}}
                </p>

            </div>
        </div>
        <hr>

    </div>
    {% endfor %}
{% endblock %}